<%- include("partials/header.ejs") %>

<section class="perle-section">

    <div class="container">
        <div class="row">
            <% locals.books.items.forEach(book => { %>
                <div class="col-md-4 col-xs-6">
                    <div class="card" style="width: 18rem;">
                        <% try { %>
                            <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" class="card-img-top" alt="...">
                        <% } catch (error) { %>
                            <img src="images/Image-not-found.png" class="card-img-top" alt="image not found">
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title"> <%= book.volumeInfo.title %> </h5>
                            <% if (book.volumeInfo.authors) {%>
                            <p class="card-text">by <%= book.volumeInfo.authors %></p>
                            <% } else { %>
                            <p class="card-text">by unknown</p>
                            <% } %>
                            <p class="card-text">published <%= book.volumeInfo.publishedDate %></p>
                            <div class="p-flex">
                                <a target=”_blank” href="<%= book.volumeInfo.previewLink %>" class="btn btn-primary">Preview Book</a>
                                <form action="add-book" method="post">
                                    <input type="hidden" name="bookId" value="1">

                                    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="padding: 1px;" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                      </svg></button>
                                </form>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        <% }); %>
        </div>
    </div>

</section>

<%- include("partials/footer.ejs") %>