<%- include("partials/header.ejs") %>

<section class="perle-section">

    <div class="container">
        <div class="row">
            <% locals.userLibrary.forEach(book => { %>
                <div class="col-md-4 col-xs-6">
                    <div class="card" style="width: 18rem;">
                        <% try { %>
                            <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" class="card-img-top" alt="...">
                        <% } catch (error) { %>
                            <img src="images/Image-not-found.png" class="card-img-top" alt="image not found">
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title"> <%= book.volumeInfo.title %> </h5>
                            <% if (book.volumeInfo.authors) {%>
                            <p class="card-text">by <%= book.volumeInfo.authors %></p>
                            <% } else { %>
                            <p class="card-text">by unknown</p>
                            <% } %>
                            <p class="card-text">published <%= book.volumeInfo.publishedDate %></p>
                            <div class="p-flex">
                                <a target=”_blank” href="<%= book.volumeInfo.previewLink %>" class="btn btn-primary">Preview Book</a>

                                    <!-- If the book id exists within userbooks, don't show add icon-->

                                        <form action="/delete-book" method="post">
                                            <input type="hidden" name="library" value="true"%>
                                            <input type="hidden" name="bookId" value="<%= book.id %> ">
                                            <input type="hidden" name="userId" value="<%= locals.user.id %>">
                                            <button class="p-add-button" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                                  </svg>
                                            </button>
                                        </form>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        <% }); %>
        </div>
    </div>

</section>

<%- include("partials/footer.ejs") %>